<div class="custom-calendar-wrapper row">

    <link rel="stylesheet" href="//addtocalendar.com/atc/1.5/atc-style-menu-wb.css">
    <script>
        (function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

    <form role="form" method="GET" action="/hearings-and-events" class="col-xs-12 calendar-dropdowns hidden">

        <div class="col-md-8 col-sm-12">
            <div class="custom-select select-month">
                <select name="filter-month">
                    {% for key,value in calendar.months %}
                    <option value="{{ key }}" {{ calendar.selected_month == key ? 'selected="selected"' : '' }}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="custom-select select-year">
                <select name="filter-year">
                    {% for key,value in calendar.years %}
                    <option value="{{ value }}" {{ calendar.selected_year == value ? 'selected="selected"' : '' }}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-light">Filter</button>
        </div>

    </form>

    <div class="col-xs-12 calendar-widget">
        <div class="col-xs-12">
            <div id="full-clndr" class="clearfix">

                <script type="text/template" id="full-clndr-template">

                    <div class="row">

                        <div class="col-md-12 calendar-block">
                            <div class="clndr-grid clearfix">
                                <div class="clndr-header center clearfix">

                                    <span class="clndr-previous-button"><i class="fa fa-angle-left"></i></span>

                                    <div class="current-calendar">
                                        <h4><%= month %> <%= year %></h4>
                                    </div>

                                    <span class="clndr-next-button"><i class="fa fa-angle-right"></i></span>

                                </div>
                                <div class="days clearfix">

                                    <% _.each(days, function(day) { %>

                                        <div class="<%= day.classes %>" id="<%= day.id %>">

                                        <% if (day.events.length >= 1) { %>
                                            <a href="/<%= day.date.format('YYYY/MM/DD') %>?post_type=event">
                                        <% } %>
                                            <span class="day-number">
                                                <%= day.day %>
                                            </span>
                                            <% if (day.events.length >= 1) { %>
                                                </a>
                                            <% } %>
                                        </div>
                                    <% }); %>

                                </div>
                            </div>
                        </div>

                    </div>
                </script>
            </div>

            <div class="loading-calendar-events row">
                <div class="col-md-8">
                    <i class="fa fa-refresh fa-spin"></i>
                    We're refreshing the calendar's events...
                </div>
            </div>

        </div>
    </div>

</div>

    <script>

    // Calendar
    //===========================================

    var clndr = {};

    (function($) {
        if ($('.custom-calendar-wrapper').length > 0) {

            var events = {{ javascript_data }};

            var calendarRefreshUrl = "{{ calendar_refresh_url }}";

            clndr = $('#full-clndr').clndr({
                template: $('#full-clndr-template').html(),
                events: events,
                forceSixRows: true,
                startWithMonth: '{{ calendar.selected_year }}-{{ calendar.selected_month }}-01',
                clickEvents: {
                    click: function(target) {
                        if(target.events.length) {

                            // Toggle everything
                            $('.custom-calendar-wrapper #full-clndr .days .day').removeClass('is-clicked');
                            $(target.element).addClass('is-clicked');


                            var classNames = $(target.element).attr('class');
                            classNames = classNames.split(' ');

                            var className = false;

                            var classNamesLength = classNames.length;
                            for (var i = 0; i < classNamesLength; i++) {
                                if (classNames[i].indexOf('calendar-day-') > -1) {
                                    className = classNames[i];
                                    break;
                                }
                            }

                            if (className) {

                                $('.calendar-details .wrap .select-a-day').hide();

                                $('.calendar-details .wrap .calendar-group').removeClass('active');
                                $('.calendar-details .wrap .calendar-group.'+className).addClass('active');

                                if ($(window).width() <= 991) {
                                    $('html, body').animate({
                                        scrollTop: $('.custom-calendar-wrapper #full-clndr .calendar-details').offset().top - 100
                                    }, 300);
                                }
                            }

                        }
                    },
                    onMonthChange: function(month) {

                        $('.custom-calendar-wrapper .loading-calendar-events').addClass('active');
                        $('.custom-calendar-wrapper .calendar-feed .calendar-slide').remove();

                        var data = {};
                        data.json = 1;
                        data['calendar-month'] = month.format('MM');
                        data['calendar-year'] = month.format('YYYY');
                        data['calendar-filter'] = $('.select-filter select').val();

                        $('.select-month select').val(data['calendar-month']);
                        $('.select-year select').val(data['calendar-year']);

                        $.post({
                            url: calendarRefreshUrl,
                            data: data,
                            success: function(response) {

                                if (response.calendar.length > 0) {

                                    var newEvents = [];
                                    $(response.calendar).each(function(index, value) {

                                        // EVENTS
                                        var newEvent = {
                                            post_id: value.post_id,
                                            date: value.formatted_date,
                                            title: value.title,
                                            permalink: value.permalink,
                                            time: value.time,
                                            type: value.type,
                                            tax_links: value.tax_links,
                                            enddate: value.enddate,
                                            address: value.address
                                        }

                                        // Calendar
                                        newEvents.push(newEvent);

                                    });

                                    // Update Calendar
                                    clndr.setEvents(newEvents);

                                    $('.custom-calendar-wrapper .loading-calendar-events').removeClass('active');

                                    addtocalendar.load();

                                } else {
                                    $('.custom-calendar-wrapper .loading-calendar-events').removeClass('active');
                                }


                                activateCurrentEvent();

                            }
                        });
                    }
                },
            });

            $('.calendar-dropdowns').change(function() {

                $('.custom-calendar-wrapper .calendar-feed .calendar-slide').remove();
                $('.custom-calendar-wrapper .loading-calendar-events').addClass('active');

                var data = {};
                data.json = 1;
                data['calendar-month'] = $('.select-month select').val();
                data['calendar-year'] = $('.select-year select').val();
                data['calendar-filter'] = $('.select-filter select').val();

                clndr.setMonth(data['calendar-month'] - 1);
                clndr.setYear(data['calendar-year']);

                $.post({
                    dataType: 'json',
                    url: calendarRefreshUrl,
                    data: data,
                    success: function(response) {

                        if (response.calendar.length > 0) {
                            var newEvents = [];
                            $(response.calendar).each(function(index, value) {
                                var newEvent = {
                                    post_id: value.post_id,
                                    date: value.formatted_date,
                                    title: value.title,
                                    permalink: value.permalink,
                                    time: value.time,
                                    type: value.type,
                                    tax_links: value.tax_links,
                                    enddate: value.enddate,
                                    address: value.address
                                }
                                newEvents.push(newEvent);

                                // FEED
                                var template = $('.calendar-feed template').html();

                                // Parse and Replace
                                template = template.replace(/{title}/g, value.title);
                                template = template.replace(/{day}/g, value.day);
                                template = template.replace(/{month}/g, moment(value.time, 'MM/DD/YY hh:mm a').format('MMMM'));
                                template = template.replace(/{year}/g, value.year);
                                template = template.replace(/{permalink}/g, value.permalink);
                                template = template.replace(/{excerpt}/g, value.excerpt);
                                template = template.replace(/{time}/g, value.time);
                                template = template.replace(/{enddate}/g, value.enddate);
                                template = template.replace(/{address}/g, value.address);

                                $('.calendar-feed .col-md-12').append(template)
                            });


                            clndr.setEvents(newEvents);

                            addtocalendar.load();

                            $('.custom-calendar-wrapper .loading-calendar-events').removeClass('active');

                        } else {
                            $('.custom-calendar-wrapper .loading-calendar-events').removeClass('active');
                        }


                    }
                });

            });
        }

        activateCurrentEvent();


        function activateCurrentEvent() {

            var current_time = new moment ().format('HH');
            var todayObject = $('.custom-calendar-wrapper #full-clndr .days .day.today');

            if (current_time >= 18) {
                todayObject = todayObject.nextAll('.event');
            }

            if (todayObject.hasClass('event')) {
                todayObject.trigger('click');
            } else {

                if (todayObject.length > 0) {
                    if (todayObject.nextAll('.event').length > 0) {
                        todayObject.nextAll('.event').first().trigger('click');
                    } else {
                        $('.custom-calendar-wrapper #full-clndr .days .day.event').last().trigger('click');
                    }
                } else {
                    $('.custom-calendar-wrapper #full-clndr .days .day.event').last().trigger('click');
                }


            }
        }

    })(jQuery);
    </script>
