    <!-- PAGE -->
    <div id="page">

      <!-- HEADER -->
      <header>

        <!-- MENU BLOCK -->
        <div class="menu_block">

          <!-- CONTAINER -->
          <div class="container clearfix">

            <!-- LOGO -->
            <div class="logo pull-left">
              <a href="{{ site.url }}" ><span class="b1">g</span><span class="b2">r</span><span class="b3">a</span><span class="b4">c</span><span class="b5">e</span></a><span class="b5">Episcopal Church</span></a>
            </div><!-- //LOGO -->

            <!-- SEARCH FORM -->
            <div id="search-form" class="pull-right">
              <form method="get" action="{{ site.url }}">
                <input type="text" name="s" value="" placeholder="Search" />
              </form>
            </div><!-- SEARCH FORM -->

            <!-- MENU -->
            <div class="pull-right">

              <nav  class="navmenu center">
                <ul class="main-nav">
                    {% for item in main_menu.get_items %}
                      <li class="nav-main-item {% if item.get_children %}sub-menu{% endif %} {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                          {% if item.get_children %}
                              <ul class="nav-drop">
                                {% for child in item.get_children %}
                                  <li class="nav-drop-item"><a href="{{child.get_link}}">{{child.title}}</a></li>
                                {% endfor %}
                              </ul>
                           {% endif %}
                      </li>
                    {% endfor %}
                </ul>
              </nav>
{#               <nav class="navmenu center">
                <ul>
                  <li class="first active scroll_btn"><a href="#home" >Home</a></li>
                  <li class="scroll_btn"><a href="#about" >About Us</a></li>
                  <li class="scroll_btn"><a href="#projects" >Worship</a></li>
                  <li class="scroll_btn"><a href="#team" >Parish Life</a></li>
                  <li class="scroll_btn"><a href="#news" >Service</a></li>
                  <li class="scroll_btn last"><a href="#contacts" >Formation</a></li>
                  <li class="sub-menu">
                    <a href="javascript:void(0);" >Test</a>
                    <ul>
                      <li><a href="blog.html" >Test 1</a></li>
                      <li><a href="blog-post.html" >Test 2</a></li>
                      <li><a href="portfolio-post.html" >Test 3</a></li>
                    </ul>
                  </li>
                </ul>
              </nav> #}
            </div><!-- //MENU -->
          </div><!-- //MENU BLOCK -->
        </div><!-- //CONTAINER -->
      </header><!-- //HEADER -->