


    <!-- PAGE -->
    <div id="page">

        {% if alerts %}
          {% for alert in alerts %}
                <a href="{{ alert.alert_link }}" class="alert {{ alert.style }} " role="alert"><strong>
                  {% if alert.alert_icon %}
                      <span class='fa {{ alert.alert_icon }} fa-inline'></span>&nbsp;&nbsp;
                  {% endif %}
                  {{ alert.main_text }}</strong><br>{{ alert.subtext }}</a>
                </a>
          {%endfor %}
        {% endif %}


      <div class="visitors-panel" id="visitors-panel">



        <div class="container">

          <div class="row btn-row">
            {% for link in options.visitors_links %}
              <div class="col-xs-6 col-md-2">
                <a href="{{ link.link }}"><div class="btn btn-outline">{{ link.text }}</div></a>
              </div>
            {% endfor  %}
          </div>

          <div class="row content-row">

            <div class="col-md-5 image"><img class="img-responsive" src="{{ TimberImage(options.visitors_image).src('visitors_image') }}">
            </div>

            <div class="col-md-7">
              <h1>{{ options.visitors_title }}</h1>
              <p>{{ options.visitors_description }}</p>


            </div>

          </div>

        </div>

      <a class="visitors-panel-close"><span class="fa fa-chevron-up fa-2x"></a>
      </div>


      <!-- HEADER -->
      <header>






        <!-- MENU BLOCK -->
        <div class="menu_block {% if alerts %} menu_block_alert {% endif %}">


          <!-- CONTAINER -->
          <div class="container clearfix">
              <a class="menu_toggler hidden"><span class="fa fa-align-justify"></span></a>
              <!-- LOGO -->
              <div class="logo pull-left">
                <a href="{{ options.logo_link|default(site.url) }}" ><img class="logo" src="{{ TimberImage(options.logo).src('thumbnail') }}"></a>
              </div><!-- //LOGO -->

              <!-- SEARCH FORM -->
              <div id="search-form" class="pull-right">
                <form method="get" action="{{ site.url }}">
                  <input type="text" name="s" value="" placeholder="Search" />
                </form>
              </div><!-- SEARCH FORM -->

              <!-- MENU -->
              <div class="pull-right">

                <nav  class="navmenu center">
                  <ul class="main-nav">
                      {% for item in main_menu.get_items %}
                        <li class="nav-main-item {% if item.get_children %}sub-menu{% endif %} {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                            {% if item.get_children %}
                                <ul class="nav-drop">
                                  {% for child in item.get_children %}
                                    <li class="nav-drop-item"><a href="{{child.get_link}}">{{child.title}}</a></li>
                                  {% endfor %}
                                </ul>
                             {% endif %}
                        </li>
                      {% endfor %}
                      <li class="nav-main-item new-to-grace-link"><a class="nav-main-link" href="{{item.get_link}}">New to Grace?</a></li>
                  </ul>
                </nav>

              </div><!-- //MENU -->
            </div><!-- //MENU BLOCK -->






        </div><!-- //CONTAINER -->
      </header><!-- //HEADER -->