{% extends "partials/base.twig" %}

{% block template %}


			<!-- HOME -->
			<section id="home" class="padbot0">
				<!-- TOP SLIDER -->
				<div class="flexslider top_slider">
					<ul class="slides">

						{% for slide in slides %}
							<li class="slide1" style="background-image:url({{ TimberImage(slide.image).src('large') }});">

								<a href="{{ slide.get_field('link') }}" class="flex_caption1">

										<p class="title1 captionDelay2 From{{ slide.headline_slide_from | capitalize }}">{{ slide.headline }}</p>
										<p class="title4 captionDelay7 From{{ slide.subheadline_slide_from | capitalize }}">{{ slide.subheadline }}</p>

								</a>
								<a class="slide_btn From{{ slide.read_more_slide_from | capitalize }}" href="{{ slide.get_field('link') }}" >{{ slide.read_more_text }}</a>
							</li>
						{% endfor %}
					</ul>
				{# 	<li class="slide1" style="background-image:url({{ theme.link }}/img/worship.jpg);">
							<div class="flex_caption1">
								<p class="title1 captionDelay2 FromTop">Worship</p>
								<p class="title4 captionDelay7 FromBottom">Worship the Lord in the Beauty of Holiness</p>
								</div>
								<a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a>
							</li>
						<li class="slide2" style="background-image:url({{ theme.link }}/img/outreach.jpg);">
							<div class="flex_caption1">
								<p class="title1 captionDelay6 FromLeft">Mission</p>
								<p class="title4 captionDelay7 FromBottom">Seek and Serve Christ In All People</p>

							</div>
							<a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a>
						</li>
						<li class="slide3" style="background-image:url({{ theme.link }}/img/education.jpg);">
							<div class="flex_caption1">
								<p class="title1 captionDelay1 FromBottom">Education</p>
								<p class="title4 captionDelay7 FromBottom">Building Up the Body of Christ</p>
							</div>
							<a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a>

							<!-- VIDEO BACKGROUND -->
							<a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}" ></a>
							<!-- //VIDEO BACKGROUND -->
						</li>
						<li class="slide4" style="background-image:url({{ theme.link }}/img/youth.jpg);">
							<div class="flex_caption1">
								<p class="title1 captionDelay1 FromBottom">Youth and Children</p>
								<p class="title4 captionDelay7 FromBottom">Let the little children come to me</p>
							</div>
							<a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a>

							<!-- VIDEO BACKGROUND -->
							<a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}" ></a>
							<!-- //VIDEO BACKGROUND -->
						</li>
						<li class="slide5" style="background-image:url({{ theme.link }}/img/fellowship.jpg);">
							<div class="flex_caption1">
								<p class="title1 captionDelay1 FromBottom">Fellowship</p>
								<p class="title4 captionDelay7 FromBottom">When two or three are gathered...</p>
							</div>
							<a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a>

							<!-- VIDEO BACKGROUND -->
							<a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}" ></a>
							<!-- //VIDEO BACKGROUND -->
						</li>
					</ul> #}
				</div>
				<div id="carousel">
					<ul class="slides">
						{% for slide in slides %}
							<li><img src="{{ TimberImage(slide.image).src('large') }}" alt="" /></li>
						{% endfor %}
					</ul>
				</div><!-- //TOP SLIDER -->
			</section><!-- //HOME -->


			<!-- ABOUT -->
			<section id="about">

				<!-- SERVICES -->
				<div class="services_block" data-appear-top-offset="-200" data-animated="fadeInUp">

					<!-- CONTAINER -->
					<div class="container">

						<!-- ROW -->
						<div class="row">

								{% for widget in options.homepage_widgets %}
									<div class="info-box col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 col-height">
										<div class="inner">
											<div class="services_item" href="javascript:void(0);" >
												<p>{{ widget.widget_title }}</p>
												{{ function('do_shortcode',widget.widget_content|replace({'<p>': '<span>', '</p>': '</span>'})) }}
											</div>
										</div>
									</div>
								{% endfor %}
						</div><!-- //ROW -->
					</div><!-- //CONTAINER -->
				</div><!-- //SERVICES -->

			{# 	<!-- CLEAN CODE -->
				<div class="cleancode_block">

					<!-- CONTAINER -->
					<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">

						<!-- CASTOM TAB -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade in active clearfix" id="tab1">
								<p class="title"><b>Clean</b> Code</p>
								<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
							</div>
							<div class="tab-pane fade clearfix" id="tab2">
								<p class="title"><b>Technical</b> Support</p>
								<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
							</div>
							<div class="tab-pane fade clearfix" id="tab3">
								<p class="title"><b>Responsive</b></p>
								<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
							</div>
							<div class="tab-pane fade clearfix" id="tab4">
								<p class="title"><b>Documentation</b></p>
								<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
							</div>
							<div class="tab-pane fade clearfix" id="tab5">
								<p class="title"><b>Quality</b></p>
								<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
							</div>
							<div class="tab-pane fade clearfix" id="tab6">
								<p class="title"><b>Support</b></p>
								<span>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</span>
							</div>
						</div>
						<ul id="myTab" class="nav nav-tabs">
							<li class="active"><a class="i1" href="#tab1" data-toggle="tab" ><i></i><span>Clean Code</span></a></li>
							<li><a class="i2" href="#tab2" data-toggle="tab" ><i></i><span>Support</span></a></li>
							<li><a class="i3" href="#tab3" data-toggle="tab" ><i></i><span>Responsive</span></a></li>
							<li><a class="i4" href="#tab4" data-toggle="tab" ><i></i><span>Documentation</span></a></li>
							<li><a class="i5" href="#tab5" data-toggle="tab" ><i></i><span>Quality</span></a></li>
							<li><a class="i6" href="#tab6" data-toggle="tab" ><i></i><span>Support</span></a></li>
						</ul><!-- CASTOM TAB -->
					</div><!-- //CONTAINER -->
				</div><!-- //CLEAN CODE -->

				<!-- MULTI PURPOSE -->
				<div class="purpose_block">

					<!-- CONTAINER -->
					<div class="container">

						<!-- ROW -->
						<div class="row">

							<div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
								<h2><b>Multi-purpose</b> WordPress Theme</h2>
								<p>We tried to make very high-quality product and so our code is very neat and clean. Whatever anyone could improve and modify the template to your liking.</p>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
								<a class="btn btn-active" href="javascript:void(0);" ><span data-hover="Yes I want it">Byu This theme</span></a>
								<a class="btn" href="javascript:void(0);" >View more templates</a>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
								<img class="ipad_img1" src="{{ theme.link }}/images/img1.png" alt="" />
							</div>
						</div><!-- //ROW -->
					</div><!-- //CONTAINER -->
				</div><!-- //MULTI PURPOSE --> #}
			</section><!-- //ABOUT -->
{#

			<!-- PROJECTS -->
			<section id="projects" class="padbot20">

				<!-- CONTAINER -->
				<div class="container">
					<h2><b>Featured</b> Works</h2>
				</div><!-- //CONTAINER -->


				<div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
					<!-- PROJECTS SLIDER -->
					<div class="owl-demo owl-carousel projects_slider">

						<!-- work1 -->
						<div class="item">
							<div class="work_item">
								<div class="work_img">
									<img src="{{ theme.link }}/images/works/1.jpg" alt="" />
									<a class="zoom" href="{{ theme.link }}/images/works/1.jpg" rel="prettyPhoto[portfolio1]" ></a>
								</div>
								<div class="work_description">
									<div class="work_descr_cont">
										<a href="portfolio-post.html" >Ginger Beast</a>
										<span>17 March, 2041</span>
									</div>
								</div>
							</div>
						</div><!-- //work1 -->

						<!-- work2 -->
						<div class="item">
							<div class="work_item">
								<div class="work_img">
									<img src="{{ theme.link }}/images/works/2.jpg" alt="" />
									<a class="zoom" href="{{ theme.link }}/images/works/2.jpg" rel="prettyPhoto[portfolio1]" ></a>
								</div>
								<div class="work_description">
									<div class="work_descr_cont">
										<a href="portfolio-post.html" >Ginger Beast</a>
										<span>17 March, 2041</span>
									</div>
								</div>
							</div>
						</div><!-- //work2 -->

						<!-- work3 -->
						<div class="item">
							<div class="work_item">
								<div class="work_img">
									<img src="{{ theme.link }}/images/works/3.jpg" alt="" />
									<a class="zoom" href="{{ theme.link }}/images/works/3.jpg" rel="prettyPhoto[portfolio1]" ></a>
								</div>
								<div class="work_description">
									<div class="work_descr_cont">
										<a href="portfolio-post.html" >Ginger Beast</a>
										<span>17 March, 2041</span>
									</div>
								</div>
							</div>
						</div><!-- //work3 -->

						<!-- work4 -->
						<div class="item">
							<div class="work_item">
								<div class="work_img">
									<img src="{{ theme.link }}/images/works/4.jpg" alt="" />
									<a class="zoom" href="{{ theme.link }}/images/works/4.jpg" rel="prettyPhoto[portfolio1]" ></a>
								</div>
								<div class="work_description">
									<div class="work_descr_cont">
										<a href="portfolio-post.html" >Ginger Beast</a>
										<span>17 March, 2041</span>
									</div>
								</div>
							</div>
						</div><!-- //work4 -->

						<!-- work5 -->
						<div class="item">
							<div class="work_item">
								<div class="work_img">
									<img src="{{ theme.link }}/images/works/5.jpg" alt="" />
									<a class="zoom" href="{{ theme.link }}/images/works/5.jpg" rel="prettyPhoto[portfolio1]" ></a>
								</div>
								<div class="work_description">
									<div class="work_descr_cont">
										<a href="portfolio-post.html" >Ginger Beast</a>
										<span>17 March, 2041</span>
									</div>
								</div>
							</div>
						</div><!-- //work5 -->

						<!-- work6 -->
						<div class="item">
							<div class="work_item">
								<div class="work_img">
									<img src="{{ theme.link }}/images/works/6.jpg" alt="" />
									<a class="zoom" href="{{ theme.link }}/images/works/6.jpg" rel="prettyPhoto[portfolio1]" ></a>
								</div>
								<div class="work_description">
									<div class="work_descr_cont">
										<a href="portfolio-post.html" >Ginger Beast</a>
										<span>17 March, 2041</span>
									</div>
								</div>
							</div>
						</div><!-- //work6 -->

						<!-- work7 -->
						<div class="item">
							<div class="work_item">
								<div class="work_img">
									<img src="{{ theme.link }}/images/works/7.jpg" alt="" />
									<a class="zoom" href="{{ theme.link }}/images/works/7.jpg" rel="prettyPhoto[portfolio1]" ></a>
								</div>
								<div class="work_description">
									<div class="work_descr_cont">
										<a href="portfolio-post.html" >Ginger Beast</a>
										<span>17 March, 2041</span>
									</div>
								</div>
							</div>
						</div><!-- //work7 -->
					</div><!-- //PROJECTS SLIDER -->
				</div>


				<!-- OUR CLIENTS -->
				<div class="our_clients">

					<!-- CONTAINER -->
					<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">

						<!-- ROW -->
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<img src="{{ theme.link }}/images/clients/1.jpg" alt="" />
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<img src="{{ theme.link }}/images/clients/2.jpg" alt="" />
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<img src="{{ theme.link }}/images/clients/3.jpg" alt="" />
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<img src="{{ theme.link }}/images/clients/4.jpg" alt="" />
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<img src="{{ theme.link }}/images/clients/5.jpg" alt="" />
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 client_img">
								<img src="{{ theme.link }}/images/clients/6.jpg" alt="" />
							</div>
						</div><!-- //ROW -->
					</div><!-- CONTAINER -->
				</div><!-- //OUR CLIENTS -->
			</section><!-- //PROJECTS -->


			<!-- TEAM -->
			<section id="team">

				<!-- CONTAINER -->
				<div class="container">
					<h2><b>Our</b> Team</h2>

					<!-- ROW -->
					<div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">

						<!-- TEAM SLIDER -->
						<div class="owl-demo owl-carousel team_slider">

							<!-- crewman1 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/1.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>Sarah Brown</p>
											<span>Director</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman1 -->

							<!-- crewman2 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/2.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>David Jones</p>
											<span>Creative Director</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-google-plus"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman1 -->

							<!-- crewman3 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/3.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>Kate Smith</p>
											<span>Manager</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman3 -->

							<!-- crewman4 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/4.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>Peter Parker</p>
											<span>Manager</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman4 -->

							<!-- crewman5 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/5.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>Jim Moss</p>
											<span>Designer</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-google-plus"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman5 -->

							<!-- crewman6 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/6.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>John Marks</p>
											<span>Designer</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman6 -->

							<!-- crewman7 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/7.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>Joe Mades</p>
											<span>Developer</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman7 -->

							<!-- crewman8 -->
							<div class="item">
								<div class="crewman_item">
									<div class="crewman">
										<img src="{{ theme.link }}/images/team/8.jpg" alt="" />
									</div>
									<div class="crewman_descr center">
										<div class="crewman_descr_cont">
											<p>Julia Anderson</p>
											<span>Developer</span>
										</div>
									</div>
									<div class="crewman_social">
										<a href="javascript:void(0);" ><i class="fa fa-google-plus"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a>
										<a href="javascript:void(0);" ><i class="fa fa-facebook-square"></i></a>
									</div>
								</div>
							</div><!-- crewman8 -->
						</div><!-- TEAM SLIDER -->
					</div><!-- //ROW -->
				</div><!-- //CONTAINER -->
			</section><!-- //TEAM --> #}


			<!-- NEWS -->
			<section id="news">

				<!-- CONTAINER -->
				<div class="container">

					<!-- TESTIMONIALS -->

{# 						<!-- TESTIMONIALS SLIDER -->
						<div class="owl-demo owl-carousel testim_slider">

							<!-- TESTIMONIAL1 -->
							<div class="item">
								<div class="testim_content">“There is nothing scary in the darkness, if you encounter it face-to-face. The inevitable price we pay for our happiness is eternal fear to lose it. When you start thinking a lot about your past, it becomes your present and you can't see your future without it.”</div>
								<div class="testim_author">—  Anna Balashova, <b>Philosopher</b></div>
							</div><!-- TESTIMONIAL1 -->

							<!-- TESTIMONIAL2 -->
							<div class="item">
								<div class="testim_content">“There is nothing scary in the darkness, if you encounter it face-to-face. The inevitable price we pay for our happiness is eternal fear to lose it. When you start thinking a lot about your past, it becomes your present and you can't see your future without it.”</div>
								<div class="testim_author">—  Anna Balashova, <b>Philosopher</b></div>
							</div><!-- TESTIMONIAL2 -->

							<!-- TESTIMONIAL3 -->
							<div class="item">
								<div class="testim_content">“There is nothing scary in the darkness, if you encounter it face-to-face. The inevitable price we pay for our happiness is eternal fear to lose it. When you start thinking a lot about your past, it becomes your present and you can't see your future without it.”</div>
								<div class="testim_author">—  Anna Balashova, <b>Philosopher</b></div>
							</div><!-- TESTIMONIAL3 -->
						</div><!-- TESTIMONIALS SLIDER -->
					</div><!-- //TESTIMONIALS --> #}


<section class="hearings-section">


    <div class="row">
      <h2 class="section-title">Upcoming Events</h2>
    </div>

    <div class="row">

      {#-- Hearings Column --#}
      <div class="col-md-7">

        {% for event in events %}
        <a href="{{ event.link }}">
        <div class="row hearing {{ event.class }}">

          <div class="col-xs-4 event-date center">
            <span class="event-month">{{ event.start.format('F') }}</span>
            <span class="event-day">{{ event.start.format('j') }}</span>
          </div>

          <div class="col-xs-8 event-details">
            <div class="row event-time-type">
              <span class="event-time"><i class="fa fa-clock-o"></i> {{ event.start.format('g:i A') }}</span> &mdash; {{ event.category }}
            </div>

            <div class="row">

              <h3 class="event-title">{{ event.title }}</h3>

            </div>

          </div>

        </div>
        </a>
        {% endfor %}

      </div>

      {#-- Calendar Column --#}
      <div class="col-md-5">

        {% include('partials/calendar.twig') %}

      </div>

    </div>

    <div class="see-more-wrapper row center">
      <a class="btn btn-default" href="/event">View All</a>
    </div>


</section>



					<!-- RECENT POSTS -->
					<h2>Latest News</h2>
					<div class="row recent_posts" data-appear-top-offset="-200" data-animated="fadeInUp">

						{% for post in news %}
							<div class="col-lg-4 col-md-4 col-sm-4 post_item_block">
								<div class="post_item inner">
									<div class="post_item_img">
										{% if post.thumbnail %}
											<img src="{{ post.thumbnail.src('homepage_module') }}" alt="" />
										{% endif %}
										<a class="link" href="{{ post.link }}" ></a>
									</div>
									<div class="post_item_content">
										<ul class="post_item_inf">
											<li><em>Posted on {{ post.post_date|date('F j, Y') }}</em></li>
										</ul>
										<a class="title" href="{{ post.link }}" >{{ post.title }}</a>
										<ul class="post_item_inf">
											<li>{{ post.excerpt }}</li>
										</ul>
									</div>
								</div>
							</div>
						{% endfor %}

						    <div class="see-more-wrapper row center">
						      <a class="btn btn-default" href="/news">View All News</a>
						    </div>

					</div>







					</div><!-- RECENT POSTS -->
				</div><!-- //CONTAINER -->
			</section><!-- //NEWS -->
		</div><!-- //PAGE -->



{% endblock %}