{% extends "partials/base.twig" %}

{% block template %}


        <!-- BREADCRUMBS -->
    <section class="breadcrumbs_block clearfix parallax" style="background-image: url('{{ post.main_image }}'); ">
      <img src="{{ post.main_image }}" style="visibility: hidden;" />
    </section><!-- //BREADCRUMBS -->


       {#  <h2><b>{{ parent.title }}</b></h2>
        {% if parent.title != post.title %}
          <p>{{ post.title }}</p>
        {% endif %}
      </div> #}

    </section><!-- //BREADCRUMBS -->


    <!-- BLOG -->
    <div class="single_page">
    <section id="blog">

      <!-- CONTAINER -->
      <div class="container">

        <!-- ROW -->
        <div class="row">

          <!-- BLOG BLOCK -->
          <div class="blog_block col-lg-9 col-md-9">

            <!-- SINGLE BLOG POST -->
            <div class="single_blog_post clearfix" data-animated="fadeInUp">
              <div class="single_blog_post_descr">
                {#  <div class="single_blog_post_date">{{ post.date }}</div> #}
                {{ function('yoast_breadcrumb','','',false) }}
                <div class="single_blog_post_title">{{ post.title }}</div>
              </div>

              <div class="single_blog_post_content">
                <p class="margbot50">{{ post.content }}</p>
                {% if sermons %}
                  <div class="table-responsive">
                    <table id="sermon-table" class="display table table-striped">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Occassion</th>
                          <th>Title</th>
                          <th>Preacher</th>
                          <th>Download</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for sermon in sermons %}
                          <tr>
                            <td>{{ sermon.date_given|date('F n, Y') }}</td>
                            <td>{% if sermon.time_given %}{{ sermon.time_given|date('g:i A') }}{% endif %}</td>
                            <td>{{ sermon.occassion }}</td>
                            <td>{{ sermon.sermon_title }}</td>
                            <td>{{ sermon.preacher }}</td>
                            <td>
                              {% if sermon.get_field('pdf').url %}
                                <a href="{{  sermon.get_field('pdf').url }}" target="_blank">
                                  {% if sermon.get_field('pdf').mime_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
                                    <span class="fa fa-file-word-o"></span>
                                  {% elseif sermon.get_field('pdf').mime_type == 'application/pdf' %}
                                    <span class="fa fa-file-pdf-o"></span>
                                  {% else %}
                                    <span class="fa fa-download"></span>
                                  {% endif %}
                                  Download</a>
                              {% endif %}
                            </td>

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}


             {#    /***GRACE NOTES ***/ #}

              {% if grace_notes %}
                  <div class="table-responsive">
                    <table id="sermon-table" class="display table table-striped">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Downlaod</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for grace_note in grace_notes %}
                          <tr>
                            <td>{{ grace_note.title }}</td>

                            <td>
                              {% if grace_note.get_field('pdf') %}
                                <a href="{{  grace_note.get_field('pdf').url }}" target="_blank">

                                    <span class="fa fa-file-pdf-o"></span>

                                  Download</a>
                              {% endif %}
                            </td>

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}


                {% if bulletin_inserts %}
                  <div class="table-responsive">
                    <table id="sermon-table" class="display table table-striped">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Downlaod</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for bulletin_insert in bulletin_inserts %}
                          <tr>
                            <td>{{ bulletin_insert.title }}</td>

                            <td>
                              {% if bulletin_insert.get_field('pdf') %}
                                <a href="{{  bulletin_insert.get_field('pdf').url }}" target="_blank">

                                    <span class="fa fa-file-pdf-o"></span>

                                  Download</a>
                              {% endif %}
                            </td>

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}


              </div>

            </div><!-- //SINGLE BLOG POST -->


{#             <!-- SINGLE BLOG POST TAG -->
            <div class="single_blog_post_tags margbot50" data-animated="fadeInUp">
              <ul>
                <li><a href="javascript:void(0);" >Fashion</a></li>
                <li><a href="javascript:void(0);" >Shop</a></li>
                <li><a href="javascript:void(0);" >Color</a></li>
              </ul>
            </div><!-- //SINGLE BLOG POST TAG -->

            <hr>

            <!-- COMMENTS -->
            <div id="comments" class="margbot30" data-animated="fadeInUp">
              <h3><b>Comments </b><span class="comments_count">(152)</span></h3>

              <ul>
                 <li class="clearfix" data-animated="fadeInUp">
                  <div class="pull-left avatar">
                    <a href="javascript:void(0);" ><img src="images/avatar1.jpg" alt="" /></a>
                  </div>
                  <div class="comment_right">
                    <div class="comment_info clearfix">
                      <div class="pull-left comment_author">Stanislav Kerimov</div>
                      <div class="pull-left comment_inf_sep">|</div>
                      <div class="pull-left comment_date">13 January 2014</div>
                    </div>
                    <p>Thank you so much for putting this together Jeremy. Most of these seem like common sense but it is amazing how many times I see new employees having the worst days of their life because managers/leaders don’t want to be “bothered” with the new guy.</p>
                  </div>
                </li>
                <li class="clearfix" data-animated="fadeInUp">
                  <div class="pull-left avatar">
                    <a href="javascript:void(0);" ><img src="images/avatar2.jpg" alt="" /></a>
                  </div>
                  <div class="comment_right">
                    <div class="comment_info clearfix">
                      <div class="pull-left comment_author">Anna Balashova</div>
                      <div class="pull-left comment_inf_sep">|</div>
                      <div class="pull-left comment_date">10 January 2014</div>
                    </div>
                    <p>I would add under “keep the busy” to make sure that every team member is aware of the new team member starting, and even thought the first 1-2 days may be meet and greats, to have them up with access to everything they need to preform their tasks.</p>
                  </div>
                </li>
              </ul>
            </div>
            <!-- //COMMENTS -->

            <hr class="margbot80">

            <!-- LEAVE A COMMENT -->
            <div class="leave_comment" data-animated="fadeInUp">
              <h3><b>Leave a</b> Comment</h3>

              <form id="comment_form" class="row" action="#" method="post">
                <div class="col-lg-4 col-md-4">
                  <input type="text" name="name" value="Your Name *" onFocus="if (this.value == 'Your Name *') this.value = '';" onBlur="if (this.value == '') this.value = 'Your Name *';" />
                  <input type="text" name="phone" value="E-mail *" onFocus="if (this.value == 'E-mail *') this.value = '';" onBlur="if (this.value == '') this.value = 'E-mail *';" />
                  <input type="text" name="phone" value="Web site" onFocus="if (this.value == 'Web site') this.value = '';" onBlur="if (this.value == '') this.value = 'Web site';" />
                  <div class="comment_note">All fields marked with an asterisk (*) are required</div>
                </div>
                <div class="col-lg-8 col-md-8">
                  <textarea name="message" onFocus="if (this.value == 'Your message *') this.value = '';" onBlur="if (this.value == '') this.value = 'Your message *';">Your message *</textarea>
                  <input class="contact_btn pull-right" type="submit" value="Send message" />
                </div>
              </form>
            </div><!-- //LEAVE A COMMENT -->
 #}
          </div><!-- //BLOG BLOCK -->


          <!-- SIDEBAR -->
          <div class="sidebar col-lg-3 col-md-3">

            <div class="sidepanel widget_meta">
{#               <ul class="parent-list">
                {% for parent in post.parents('page','ExtendedTimberPost') %}
                  <li><a class="{% if parent.ID == post.ID %}active{% endif %} parent" href="{{ parent.link }}" >{{ parent.title }}</a></li>
                {% endfor %}
              </ul>
              <ul class="sibling-list">
                {% for sibling in post.siblings('page','ExtendedTimberPost') %}
                  <li><a class="{% if sibling.ID == post.ID %}active{% endif %} sibling" href="{{ sibling.link }}" >{{ sibling.title }}</a></li>
                  <ul class="child-list">
                    {% for child in sibling.children('page','ExtendedTimberPost') %}
                      <li><a class="{% if child.ID == post.ID %}active{% endif %} child" href="{{ child.link }}" >{{ child.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endfor %}


              </ul> #}

              {% if post.children %}
                <h3><small>More about</small><br>{{ post.title }}</h3>
                <ul class="child-list">
                  {% for child in post.children('page','ExtendedTimberPost') %}
                    <li><a class="child" href="{{ child.link }}" >{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% if post.siblings %}
                <h3><small>More about</small><br>{{ post.parent.title }}</h3>
                <ul class="sibling-list">
                  {% for sibling in post.siblings('page','ExtendedTimberPost') %}

                    <li><a class="{% if sibling.ID == post.ID %}active {% endif %}sibling" href="{{ sibling.link }}" >{{ sibling.title }}</a></li>

                  {% endfor %}
                </ul>
              {% endif %}

            </div>



{#
            <!-- POPULAR POSTS WIDGET -->
            <div class="sidepanel widget_popular_posts">
              <h3><b>Popular</b> Posts</h3>

              <div class="recent_posts_widget clearfix">
                <div class="post_item_img_widget">
                  <img src="images/blog/1.jpg" alt="" />
                </div>
                <div class="post_item_content_widget">
                  <a class="title" href="blog.html" >How the Denver Broncos Cheerleaders Get in Shape for the Super Bowl</a>
                  <ul class="post_item_inf_widget">
                    <li>JANUARY 30  |  21:30</li>
                  </ul>
                </div>
              </div>
              <div class="recent_posts_widget clearfix">
                <div class="post_item_img_widget">
                  <img src="images/blog/2.jpg" alt="" />
                </div>
                <div class="post_item_content_widget">
                  <a class="title" href="blog.html" >Barneys Spring Campaign Stars 17 Transgender Models</a>
                  <ul class="post_item_inf_widget">
                    <li>JANUARY 25  |  9:30</li>
                  </ul>
                </div>
              </div>
              <div class="recent_posts_widget clearfix">
                <div class="post_item_img_widget">
                  <img src="images/blog/3.jpg" alt="" />
                </div>
                <div class="post_item_content_widget">
                  <a class="title" href="blog.html" >Dominic Cooper: I'm Nothing Like the Real James Bond</a>
                  <ul class="post_item_inf_widget">
                    <li>JANUARY 21  |  13:30</li>
                  </ul>
                </div>
              </div>
            </div><!-- //POPULAR POSTS WIDGET -->

            <hr>

            <!-- POPULAR TAGS WIDGET -->
            <div class="sidepanel widget_tags">
              <h3><b>Popular</b> Tags</h3>
              <ul>
                <li><a href="javascript:void(0);" >Fashion</a></li>
                <li><a href="javascript:void(0);" >Shop</a></li>
                <li><a href="javascript:void(0);" >Color</a></li>
                <li><a href="javascript:void(0);" >Creative Agency</a></li>
                <li><a href="javascript:void(0);" >Theme</a></li>
                <li><a href="javascript:void(0);" >Dress</a></li>
                <li><a href="javascript:void(0);" >Wordpress</a></li>
              </ul>
            </div><!-- POPULAR TAGS WIDGET -->

            <hr>

            <!-- TEXT WIDGET -->
            <div class="sidepanel widget_text">
              <h3><b>About</b> Blog</h3>
              <p>I must admit this particular defense set me on edge a little bit, for two reasons. The first is that she’s being held to a completely different standard than male politicians are held to.</p>
            </div><!-- //TEXT WIDGET --> #}
          </div><!-- //SIDEBAR -->
        </div><!-- //ROW -->
      </div><!-- //CONTAINER -->
    </section><!-- //BLOG -->
  </div>
  </div><!-- //PAGE -->



{% endblock %}