{% extends "partials/base.twig" %}

{% block template %}



    <!-- BLOG -->
    <section id="blog">

      <!-- CONTAINER -->
      <div class="container">

        <!-- ROW -->
        <div class="row">

          <!-- BLOG BLOCK -->
          <div class="blog_block col-lg-12 col-md-12 padbot50">

            <h1>{{ title }}</h1>

            {% for post in posts %}

             {% include 'partials/feed-post.twig' %}

            {% endfor %}

            <div class="site-pagination">
              <div class="pagination-wrapper">
                <ul class="pagination clearfix">

                  {% for page in pagination.pages %}

                        {% if page.class == "dots" %}
                          <li><a href="javascript:void(0);">. . .</a></li>
                        {% elseif page.current %}
                            <li class="active"><a href="{{page.link}}">{{page.title}}</a></li>
                        {% else %}
                            <li><a href="{{page.link}}">{{page.title}}</a></li>
                        {% endif %}
                    </li>
                  {% endfor %}

                </ul><!-- //PAGINATION -->
              </div>
            </div>


          </div><!-- //BLOG BLOCK -->
          </div><!-- //BLOG BLOCK -->


        </div><!-- //ROW -->
      </div><!-- //CONTAINER -->
    </section><!-- //BLOG -->
  </div>


{% endblock %}