{% extends "partials/base.twig" %}

{% block template %}


        <!-- BREADCRUMBS -->
    <section class="breadcrumbs_block clearfix parallax" style="background-image: url('{{ post.main_image }}'); ">
      <img src="{{ post.main_image }}" style="visibility: hidden;" />
    </section><!-- //BREADCRUMBS -->

    <!-- BLOG -->
    <div class="single_page">
    <section id="blog">

      <!-- CONTAINER -->
      <div class="container">

        <!-- ROW -->
        <div class="row">

          <!-- BLOG BLOCK -->
          {% if calendar %}
            <div class="col-lg-12 col-md-12">
          {% else %}
            <div class="col-lg-9 col-md-9">
          {% endif %}

            <!-- SINGLE BLOG POST -->
            <div class="single_blog_post clearfix" data-animated="fadeInUp">
              <div class="single_blog_post_descr">
                {#  <div class="single_blog_post_date">{{ post.date }}</div> #}
                {{ function('yoast_breadcrumb','','',false) }}
                <div class="single_blog_post_title">{{ post.title }}</div>
              </div>

              <div class="single_blog_post_content">
                <p class="margbot50">{{ post.content }}</p>
                {% if calendar %}
                  <div id="calendar"></div>
                {% endif %}
                {% if sermons %}
                  <div class="table-responsive">
                    <table id="sermon-table" class="display table table-striped">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Occasion</th>
                          <th>Title</th>
                          <th>Preacher</th>
                          <th>Download</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for sermon in sermons %}
                          <tr>
                            <td>{{ sermon.date_given|date('F j, Y') }} {% if sermon.time_given %}{{ sermon.time_given|date('g:i A') }}{% endif %}</td>
                            <td>{{ sermon.occasion }}</td>
                            <td>{{ sermon.sermon_title }}</td>
                            <td>{{ sermon.preacher }}</td>
                            <td>
                              {% if sermon.get_field('pdf').url %}
                                <a href="{{  sermon.get_field('pdf').url }}" target="_blank">
                                  {% if sermon.get_field('pdf').mime_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
                                    <span class="fa fa-file-word-o"></span>
                                  {% elseif sermon.get_field('pdf').mime_type == 'application/pdf' %}
                                    <span class="fa fa-file-pdf-o"></span>
                                  {% else %}
                                    <span class="fa fa-download"></span>
                                  {% endif %}
                                  Download</a>
                              {% endif %}
                            </td>

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}


             {#    /***GRACE NOTES ***/ #}

              {% if grace_notes %}
                  <div class="table-responsive">
                    <table id="gracenotes-table" class="display table table-striped">
                      <thead>
                        <tr>
                          <th>Month</th>
                          <th>Date</th>
                          <th>Download</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for grace_note in grace_notes %}
                          <tr>
                            <td>{{ grace_note.month_description }}</td>
                            <td>{{ grace_note.published_date|date('F j, Y') }}</td>
                            <td>
                              {% if grace_note.get_field('pdf') %}
                                <a href="{{  grace_note.get_field('pdf') }}" target="_blank">

                                    <span class="fa fa-file-pdf-o"></span>

                                  Download</a>
                              {% endif %}
                            </td>

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}


                {% if bulletin_inserts %}
                  <div class="table-responsive">
                    <table id="bulletin-insert-table" class="display table table-striped">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Date</th>
                          <th>Download</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for bulletin_insert in bulletin_inserts %}
                          <tr>
                            <td>{{ bulletin_insert.title }}</td>
                            <td>{{ bulletin_insert.published_date|date('F j, Y') }}</td>
                            <td>
                              {% if bulletin_insert.get_field('pdf') %}
                                <a href="{{  bulletin_insert.get_field('pdf') }}" target="_blank">

                                    <span class="fa fa-file-pdf-o"></span>

                                  Download</a>
                              {% endif %}
                            </td>

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}


              </div>

            </div><!-- //SINGLE BLOG POST -->


          </div><!-- //BLOG BLOCK -->


          <!-- SIDEBAR -->
          {% if not calendar %}
            <div class="sidebar col-lg-3 col-md-3">

              <div class="sidepanel widget_meta">


                {% if post.children %}
                  <h3><small>More about</small><br>{{ post.title }}</h3>
                  <ul class="child-list">
                    {% for child in post.children('page','ExtendedTimberPost') %}
                      <li><a class="child" href="{{ child.link }}" >{{ child.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}

                {% if post.siblings %}
                  <h3><small>More about</small><br>{{ post.parent.title }}</h3>
                  <ul class="sibling-list">
                    {% for sibling in post.siblings('page','ExtendedTimberPost') %}

                      <li><a class="{% if sibling.ID == post.ID %}active {% endif %}sibling" href="{{ sibling.link }}" >{{ sibling.title }}</a></li>

                    {% endfor %}
                  </ul>
                {% endif %}

              </div>

            </div><!-- //SIDEBAR -->
          {% endif %}
        </div><!-- //ROW -->
      </div><!-- //CONTAINER -->
    </section><!-- //BLOG -->
  </div>
  </div><!-- //PAGE -->



{% endblock %}